# Penting
backup.js
backup2.js
src/debug.js

# Environment
.env
.env.local
.env.development
.env.production

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# WhatsApp Auth Session
auth/
auth/*

# Logs
logs/
*.log
*.log.*
pids
*.pid
*.seed

# Uploads
uploads/

# Cache
.cache/
dist/
build/

# OS / Editor files
.DS_Store
Thumbs.db
.vscode/
.idea/
